* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: "Poppins", sans-serif;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: rgb(18, 18, 62);
   
  }
  
  nav ul {
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    list-style: none;
    margin: 0 23px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
  }
  
  nav ul li a:hover {
    color: rgb(170, 107, 228);
    font-size: 1.01rem;
  }
  
  main hr {
    border: 0;
    background: #9c97f1;
    height: 2.2px;
    margin: 60px 84px;
  }
  
  .left {
    font-size: 1.5rem;
  }
  
  .firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0;
  }
  
  .firstSection > div {
    width: 30%;
  }
  
  .leftSection {
    font-size: 2.2rem;
  }
  
  .leftSection .btn {
    padding: 12px 77px;
    margin-top: 29px;
    background: #531d77;
    color: white;
    border: 2px solid rgb(170 170 228);
    border-radius: 12px;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
  }
  
  .leftSection .btn a {
    background-color: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  .leftSection .btn a:hover {
    font-size: 1.01rem;
  }
  
  .leftSection .logo img {
    margin: 40px 0 50px 12px;
    width: 40px;
    justify-content: center;
    filter: invert(100%);
    transition: filter 0.3s ease-in-out;
  }
  
  .leftSection .logo img:hover {
    filter: brightness(70%);
  }
  
  .rightSection img {
    width: 90%;
    margin: auto;
  }
  
  .purple {
    color: rgb(170, 107, 228);
  }
  
  .text-gray {
    color: gray;
  }
  
  #element {
    color: rgb(170, 107, 228);
  }
  
  .secondSection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
  }
  
  .secondSection h1 {
    font-size: 1.9rem;
  }
  
  .secondSection .box {
    background: white;
    width: 80vw;
    height: 2px;
    margin: 50px 0;
    display: flex;
  }
  
  .secondSection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 6vw;
  }
  
  .secondSection .box {
    background: white;
    width: 77vw;
    height: 2px;
    margin: 60px 0;
    display: flex;
  }
  
  .secondSection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 100px;
  }
  
  .image-top {
    width: 40px;
    position: relative;
    top: -45px;
    left: -21px;
  }
  
  .vertical-title {
    position: relative;
    top: 50px;
    /* left: -60px; */
    width: 150px;
    font-size: 16px;
  }
  
  .vertical-title:hover {
    transform: scale(1.1);
  }
  
  .vertical-desc {
    position: relative;
    top: 60px;
    color: gray;
    width: 150px;
    font-size: 10px;
  }
  
  .vertical-desc:hover {
    transform: scale(1.08);
  }
  
  footer {
    background-color: rgb(12, 12, 48);
  }
  
  .footer {
    display: flex;
    padding: 25px;
    max-width: 95vw;
    /* height: 50vh; */
    margin-top: 150px;
    justify-content: center;
   align-items: center;
   text-align: center;
  }
  
  .footer ul {
    list-style: none;
  }
  
  .footer > div {
    width: 400px;
  }
  
  footer .footer-right {
    text-align: center;
    background-color: rgb(4, 4, 29);
    padding: 12px;
    color: gray;
  }
  
  .footer .logo img {
    margin: 40px 0 50px 12px;
    width: 40px;
    justify-content: center;
    filter: invert(100%);
    transition: filter 0.3s ease-in-out;
  }

  .footer .logo img:hover {
    filter: brightness(70%);
  }
  
  
  .leftSection .logo img:hover {
    filter: brightness(70%);
  }
  .projectSection {
    max-width: 80vw;
    margin: auto;
  }
  
  .projectSection h1 {
    font-size: 1.9rem;
  }
  
  .project {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .project h2 {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .project p {
    margin-bottom: 15px;
  }
  
  .project a {
    background-color: #531d77;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 4px;
  }

  .project-image{
    width: 40%;
    margin: 40px 20px ;
    margin: auto;
  }
  
  .project a:hover {
    background-color: #17072f;
  }
  
  .secondSection1 {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
  }
  
  .secondSection1 h1 {
    font-size: 1.9rem;
  }
  
  .secondSection1 .box {
    background: white;
    width: 80vw;
    height: 2px;
    margin: 50px 0;
    display: flex;
  }
  
  .secondSection1 .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 6vw;
  }
  
  .secondSection1 .box {
    background: white;
    width: 77vw;
    height: 2px;
    margin: 60px 0;
    display: flex;
  }
  
  .secondSection1 .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 100px;
  }
  
  #skills {
    margin: auto;
  }
  
  .skill-icons {
    display: grid;
    margin: 25px;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  
  .icon img {
    width: 80px;
    height: 80px;
    margin: 20px;
    transition: transform 0.3s, filter 0.3s;
  }
  
  .icon span {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .icon:hover img {
    transform: scale(1.1);
    filter: grayscale(0);
  }
  
  *{
    box-sizing: border-box;
    margin: 0;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
 
.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}
.section-title h1{
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    margin: 0 0 5px;
    position: relative;
}
.section-title h1:before{
    content: '';
    left: 0;
    position: absolute;
    height: 2px;
    right: 32%;
    background-color: #febd01;
    bottom: 0px;
}
.text-center{
    text-align: center!important;
}
.text-right{
    text-align: right!important;
}
.portfolio{
    /* background-color: white; */
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}
.portfolio .section-title h1:before{
    left: 30%;
}
.portfolio .filter-buttons{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.portfolio .filter-buttons ul{
    list-style: none;
    text-align: center;
    padding: 0;
} 
.portfolio .filter-buttons ul li{
    color: #ffffff;
    font-weight: 500;
    font-size: 22px;
    display: inline-block;
    margin: 0px 8px;
    text-transform: uppercase;
    cursor: pointer;
    padding-bottom: 0px;
}
.portfolio .filter-buttons ul li.active{
    color: #843eb3;
    border-bottom: 2px solid #531d77;
}
.portfolio .portfolio-gallery{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.portfolio .portfolio-gallery .item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    position: relative;
    padding: 8px;
  
}
.portfolio .portfolio-gallery .item .inner{
    position: relative;
}
.portfolio .portfolio-gallery .item img{
    width: 100%;
    display: block;
}


 
@media screen and (max-width: 1350px) {
  body {
    min-width: fit-content;
  }
  .box {
    flex-direction: column;
  }
  .secondSection .vertical {
    height: unset;
  }
  .vertical-title,
  .vertical-desc {
    left: 45px;
  }
  .secondSection .box {
    width: 50vw;
  }
  nav {
    flex-direction: column;
  }
  .firstSection {
    flex-direction: column-reverse;
  }
  .leftSection {
    margin-top: 30px;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .secondSection {
    height: 141vh;
  }
  .rightSection {
    width: 721px !important;
    display: flex;
    justify-content: center;
  }
  .rightSection img {
    width: 45vw;
    margin-bottom: 73px;
  }
  .secondSection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .image-top {
    top: 102px;
  }

  .projectSection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
  }
  
  footer {
    display: none;
  }
}
@media(max-width:767px){
 
    .portfolio .portfolio-gallery .item{
        flex:0 0 50% ;
        max-width: 50%;
        position: relative;
        padding:8px ;
    }
 
}
@media(max-width:500px){
 
    .portfolio .portfolio-gallery .item{
        flex:0 0 100% ;
        max-width: 100%; }
}

.contactSection {
  max-width: 80vw;
  margin: auto;
  height: 70vh;
}

.contactForm {
  max-width: 600px;
  margin: 0 auto;
  padding: 19px;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid rgb(170 170 228);
  border-radius: 5px;
  background-color: transparent;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

button.btn {
  padding: 12px 226px;
  margin-top: 2px;
  background: #531d77;
  color: white;
  border: 2px solid rgb(170 170 228);
  border-radius: 12px;
  font-size: 15px;
  font-weight: bolder;
  cursor: pointer;
}

select {
  width: 100%;
  padding: 10px;
  border: 2px solid rgb(170 170 228);
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  background-color: transparent; 
  color: white; 
  font-size: 15px;
}

option {
  background-color: transparent; 
  color: transparent;
  font-size: 15px;

}

button.btn:hover {
  background-color: #333;
}

@media screen and (max-width: 768px) {
  .contactForm {
    max-width: 90%;
  }
}


